Question 1 - In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

Answer -    *       -  Expression
            'hello' -  Value (string)
            -87.8   -  Value (float)
            -       -  Expression
            /       -  Expression
            +       -  Expression
            6       -  Value (Integer)

Question 2 - What is the difference between string and variable?

Answer - STRINGS - Strings are the characters which are enclosed between single quotes('') or double quotes("").
         Example- "Shreyanshu", "22", "-23.25" etc.
         VARIABLE - Variable is a location (or in layman terms we can say container or box) which is used to store data or value in memory. In                     python, Variables are dynamically typed.
         Example- a=10 (here a is variable containing value 10 in it)

Question 3 - Describe three different data types.

Answer-
1) Strings - Strings are the characters which are enclosed between single quotes('') or double quotes(""). Example- "Shreyanshu", "22", "-23.25" etc.

2) Integers - They are the all the integers in maths including positive and negative numbers but does not include fraction and decimals. Examples- 22, 29, -56, 0, etc.

3) Floats - These are decimal numbers and include both postive and negative numbers. Example- 22.23, 29.36, -98.65, etc.

Question 4 - What is an expression made up of? What do all expressions do?

Answer - An expression is made up of valid combinations of operators, variables, literals, etc.
         All expressions evaluate the data (or values or input) by the use of the operators present in the expression. If there is more than one operator in the expression, operator which has higher priority will be executed first.

Question 5 - This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer - An expression contains only operators, variables and literals while a statement is a logical instructions written which a python interpreter can read, understand and execute. It can contain lines as well which an expression does not. Also, all expressions are statements.

Question 6 - After running the following code, what does the variable bacon contain?
             bacon = 22
             bacon + 1

Answer - I have run the code in below cell

         As observed the value of bacon is 22 and it does not change. The reason is because in the second line "bacon + 1" the value of "bacon + 1" is not assigned to bacon so that's why while printing, it takes the previous value as output i.e 22

In [7]:
bacon = 22
bacon + 1
print(bacon)

22

Question 7 - What should the values of the following two terms be?
             'spam' + 'spamspam'
             'spam' * 3

Answers - I have run the code in below cells for above two terms- 

          As observed, both the terms gave the same output.

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

Question 8 - Why is eggs a valid variable name while 100 is invalid?

Answer - While using identifiers we have certain rules like
         a) we can have small case alphabets(a-z), large case alphabets(A-Z), digits(0-9) and underscore(_) in the identifiers
         b) we can never start with digits
         c) we can never have keywords as identifiers
         
That's the reason egg is a valid variable and 100 is not.

Question 9 -What three functions can be used to get the integer, floating-point number, or string version of a value?

Answer - 1) FLOATING POINT NUMBER - The python float() function returs a floating-point number from a integer or string.
         2) INTEGER - The python int() function returs a integer from a floating-point number or string.
         3) STRING -The python str() converts a specified value into a string.
         
         I HAVE EXECUTED ALL THE CODES IN THE BELOW CELL FOR ILLUSTRATIONS.

In [35]:
#CONVERSION TO FLOATING POINT NUMBER

print(float(9))      #from integer to float
print(float("25.26"))   #from string to float


#CONVERSION TO INTEGER VALUE

print(int(9.8))      #from float to integer
print(int("25"))   #from string to integer


#CONVERSION TO STRING

str(9)          #from integer to string

9.0
25.26
9
25

'9'

Question 10 - Why does this expression cause an error? How can you fix it?
                  'I have eaten' + 99 + 'burritos.'

Answer - Here we can not add string with integer so we have to convert integer into string first.
                  'I have eaten' + ' 99 ' + 'burritos.'
         Now if we run this expression it will not show error.
         
         I have shown both expressions while running in below cells

In [2]:
'I have eaten' + 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

In [2]:
'I have eaten' + ' 99 ' + 'burritos.'

'I have eaten 99 burritos.'