Q.1. What are keywords in python? Using the keyword library, print all the python keywords.

Ans.1. 

1) Keywords are the reserved words which we can not use as ordinary words as they have well defined meaning and can be used for that specific purpose only.
2) Keywords are IMMUTABLE. IMMUTABLE means their meaning cannot be altered or changed.

I have printed keywords in the next cell

In [6]:
#pip install keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Q.2. What are the rules to create variables in python?

Ans.2. A Python variable is a name given to a memory location to store data. Variables are created by writing the variable name and assigning it a value using the equals sign (=).

Q.3. What are the standards and conventions followed for the nomenclature of variables in python to improve code readability and maintainability?

Ans.3. 

1) Keywords cannot be used to create variables.
2) Variable names can consists of small letters (a-z), capital letters (A-Z), numeric digits(0-9) and underscore( _ ).
3) It can not start with numeric digit (0-9).
4) It cannot consits of special characters like !, @, #, $, %, ^, &, *, (, ), space etc.
5) Variable names are case-sensitive (tree, Tree and TREE are three different variables).

Q.4. What will happen if a keyword is used as a variable name?

Ans.4. Since Keywords are the reserved words which we can not use as ordinary words as they have well defined meaning and can be used for that specific purpose only, we can not use them as a variable name.

If we do that python will throw error.

I have given example in below cell.

In [13]:
class = [1, 2, 3, 4]

print(class)

SyntaxError: invalid syntax (4060735566.py, line 1)

Q.5. For what purpose def keyword is used?

Ans.5. def keyword is used for declaring user defined functions.

Basically we define a function using the def keyword, followed by the function name, parentheses (), and a colon :. Inside the parentheses, we can specify any parameters our function will take.

Q.6. What is the operation of this special character ‘\’?

Ans.6. ' \ ' is called line continuation character. We can make statement to extend over multiple lines using this character.

I have shown the illustration of this in the next cell.

In [20]:
a = 1+2+3+4+5+6+7+8+9
print(a)              # here i have written a only in one line


#if we want to write a in muliple lines, we can do that with ' \ ' . Output will be the same.

a=1+2+3+4+5\
  +6+7+8+9

print(a)

# as we can see, output is same

45
45

Q.7. Give an example of the following conditions:
    
(i) Homogeneous list

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]    #here all are intergers inside the list

(ii) Heterogeneous set

set1 = {1, "shreyanshu", [1, 2, 3], 12.89}  #here set1 contains integer, string, list and float

(iii) Homogeneous tuple

tuple1 = ("shreyanshu", "ajinkya", "jinal", "roshni", "22")   #here all are strings inside the tuple

Q.8. Explain the mutable and immutable data types with proper explanation & examples.

Ans.8. 

1) MUTABLE DATA TYPES:

a) Mutable means their meaning can be altered or changed.

b) We can modify, add, delete the items inside the mutable data types.

c) Example of mutable data types are List, Sets, Dictionaries( although keys items can not be changed.)

2) IMMUTABLE DATA TYPES:

a) Immutable means their meaning can not be altered or changed at any cost once they are declared.

b) We can not modify, add, delete the items inside the immutable data types.

c) Example of immutable data types are strings and tuples.

I have given the example of both the data types in below cell.

In [29]:
# Mutable data types 
# Let's take an example of list

list1 = [1,2,3,4,5,6]

#removing item 3 from the list

list1.remove(3)
print(list1)      

#new output [1,2,4,5,6]

#adding items to the list

list1.append(9)
print(list1)




# Immutable data types 
# Let's take an example of tuple

tuple1 = (1,2,3,4,5,6)

#lets try to remove item 3 

tuple1.remove(3)
print(tuple1)

#as the output says 'tuple' object has no attribute 'remove' , which means tuple can not be modified once declared.

[1, 2, 4, 5, 6]
[1, 2, 4, 5, 6, 9]

AttributeError: 'tuple' object has no attribute 'remove'

Q.9. Write a code to create the given structure using only for loop.


        *
       ***
      *****
     *******
    *********
    
Ans.9. I have written the code in the below cell

In [36]:
for i in range(0,5):
    for j in range(0,4-i):
        print(" ", end=" ")
    for k in range(0,2*i-1):
        print("*", end=" ")
    print()

      *
    * * *
  * * * * *
* * * * * * *

Q.10. Write a code to create the given structure using while loop.

    |||||||||
   
     |||||||
    
      |||||
     
       |||
      
        |
       
Ans.10. I have written the code in the below cell

In [38]:
i=0
while i<=4:
    j=0
    while j<i:
        print(" ", end=" ")
        j+=1
    k=0
    while k<(9-2*i):
        print("|", end=" ")
        k+=1
    i+=1
    print()

| | | | | | | | |
  | | | | | | |
    | | | | |
      | | |
        |